@import "tailwindcss";

@font-face {
  font-family: "Bogart";
  src: url("/fonts/Bogart/Bogart-Extrabold-Italic-trial.ttf") format("truetype");
  font-weight: normal;
  font-style: bold italic;
}

body {
  font-family: "Bogart";
}